{% assign site_chunked_comment_value = site.goole_forms_comments.chunked_comment_loading %}
{% assign page_chunked_comment_value = page.chunked_comment_loading %}

{% comment %} 
	This section is to determine whether or not lazy loading of the comments is enabled.
	By default this is turned off. If the page has enabled or disabled this feature explicitly,
	the individual page value is used. Otherwise the site's value, if any is used.
{% endcomment %}
{% assign lazy_load_enabled = false %}
{% if page.lazy_load_comments == true %}
	{% assign lazy_load_enabled = true %}
{% elsif site.goole_forms_comments.lazy_load_comments == true %}
	{% unless page.lazy_load_comments == false %}
		{% assign lazy_load_enabled = true %}
	{% endunless %}
{% endif %}

{% if site.comment-read %}
<script>
	{% comment %}
	/* Load Required 3rd-Party Scripts. We use the following: 
    	- jquery for DOM manipulation
    	- jquery-csv for parsing Google Sheets CSV data to JSON
    	- validator for escaping user-entered comments to prevent malicious code input in comments

    	Make sure to update these to the latest versions every once in a while. */
    {% endcomment %}
	var SRC_JQUERY = "https://code.jquery.com/jquery-3.6.0.min.js";
	var SRC_VALIDATOR = "https://cdnjs.cloudflare.com/ajax/libs/validator/13.5.2/validator.min.js";
	var SRC_JQUERY_CSV = "https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js";


	{% comment %}
	/* Initial load of the comments section contnet. This ensures that we are only loading
	   JQuery and other scripts once we actually need them */
    {% endcomment %}
	async function initialCommentLoad() {
		/* Load JQuery */
		var loadJquery = document.createElement("script");
		loadJquery.type = "text/javascript";
		loadJquery.src = SRC_JQUERY;
		document.head.appendChild(loadJquery);

		{% comment %}
		/* Load Validator (to ensure we don't run code from comments for example) */
    	{% endcomment %}
		var loadValidator = document.createElement("script");
		loadValidator.src = SRC_VALIDATOR;
		document.head.appendChild(loadValidator);

		{% comment %}
		/* Await Validator & JQuery Loaded */
    	{% endcomment %}
		await loadValidator.onload;
		loadJquery.onload = function() {
			{% comment %}
			/* We need to ensure that jQuery is ready before we can load JQuery CSV (used for .csv parsing) */
    		{% endcomment %}
			async function checkJQuery() {
				if (typeof jQuery === "undefined") {
					return false;
				} else {
					clearTimeout(interval);
					{% comment %}
					/* Load JQuery CSV (need regular JQuery first) */
					{% endcomment %}
					var loadJqueryCsv = document.createElement("script");
					loadJqueryCsv.src = SRC_JQUERY_CSV;
					document.head.appendChild(loadJqueryCsv);

					{% comment %}
					/* Wait for JQuery CSV to finish loading */
					{% endcomment %}
					await loadJqueryCsv.onload;

					{% comment %}
					/* Now, load the comments */
					{% endcomment %}
					reloadComments();
				}
			};
			{% comment %}
			/* check if JQuery is ready every 250 MS
			   this timer will be cleared after the check passes */
			{% endcomment %}
			var interval = setInterval(checkJQuery, 250);
		};
	};


	var thisPageUrl = "{{ page.url }}";
	{% comment %}
	/*  Visbile comments are those already dislayed to the user.
		Hidden comments are those that are already retrieved from Google Sheets but not shown yet (i.e. with a load more button visible).
		Net new comments are those that have been added since the comment submit button was pressed. Usually this will be the single added
		comment. */
	{% endcomment %}
	var visibleComments = [];
	var hiddenComments = [];
	var netNewComments = [];

	{% comment %}
	/* Format the comment's date to our desired format */
	{% endcomment %}
	function formatDate(stringDate) {
		var date = new Date(stringDate);
		var dateOptions = { year: 'numeric', month: 'long', day: 'numeric'};
		var timeOptions = { hour: 'numeric', minute: 'numeric' };
		return `${date.toLocaleDateString("en-us", dateOptions)} at ${date.toLocaleTimeString("en-us", timeOptions)}`;
	};

	{% comment %}
	/* Called when the comments have been loaded or relaoded.
	   Comments that we have already displayed on the page will be ignored */
	{% endcomment %}
	async function displayComments(comments) {
		$("#comments-and-input").show();
		$("#load-comments").hide();
		var hasVisibleComments = visibleComments.length > 0;

		{% comment %}
		/* if we have no comments, show the 'no comments available' section */
		{% endcomment %}
		if (comments == null || comments === "") {
			if (!hasVisibleComments) {
				$("#no-comments").show();
				$("#load-more-comments").hide();
				$("#num-comments-displayed").hide();
			}
			return;
		}

		{% comment %}
		/* Add headers so json objects are named properly */
		{% endcomment %}
		comments = `timestamp,name,comment,isAuthor\n${comments}`;
		var newHiddneComments = $.csv.toObjects(comments)
			.map(item => JSON.stringify(item));

		if (hasVisibleComments) {
			netNewComments = newHiddneComments
				.filter(item => !visibleComments.includes(item))
				.filter(item => !hiddenComments.includes(item));
		}

		hiddenComments = newHiddneComments
			.filter(item => !visibleComments.includes(item))
			.filter(item => !netNewComments.includes(item));

		loadMoreComments(false || !hasVisibleComments);
	};

	{% comment %}
	/* Loads more comments if there are any left to display from those already loaded from the server */
	{% endcomment %}
	function loadMoreComments(isLoadMoreAction) {
		{% if page_chunked_comment_value == false %}
			var newCommentsToDisplay = hiddenComments;
		{% else %}
			{% if site_chunked_comment_value == false and page_chunked_comment_value != true %}
				var newCommentsToDisplay = hiddenComments;
			{% else %}
				var newCommentsToDisplay = hiddenComments.slice(-5);
			{% endif %}
		{% endif %}

		if (isLoadMoreAction) {
			{% comment %}
			/* iterate over each comment that came from Google Sheets */
			{% endcomment %}
			newCommentsToDisplay.reverse().forEach(element => displaySingleComment(element, true));
			hiddenComments = hiddenComments.filter(item => !newCommentsToDisplay.includes(item) && !visibleComments.includes(item));
		} else {
			{% comment %}
			/* add the new comments if there are any */
			{% endcomment %}
			netNewComments.forEach(element => displaySingleComment(element, false));
			netNewComments = []
		}

		$("#num-comments-displayed").text(`Showing ${visibleComments.length} comments out of ${visibleComments.length + hiddenComments.length}`);

		if (hiddenComments.length == 0) {
			$("#load-more-comments").hide();
		} else {
			$("#load-more-comments").show();
		}
	};

	function displaySingleComment(element, isPrepend) {
		{% comment %}
		/* don't re-add existing comments */
		{% endcomment %}
		if (visibleComments.includes(element)) {
			return;
		}

		var jsonElement = JSON.parse(element);
		{% comment %}
		/* If the author was the one who commented back, add this 'verified' logic */
		{% endcomment %}
		var verifiedAuthorTag = "";
		if (jsonElement.isAuthor === "TRUE") {
			verifiedAuthorTag = "&nbsp;<strong>(Author)</strong>";
		}
		{% comment %}
		/* Create the new item using HTML and append it to the user-visible comment section */
		{% endcomment %}
		var newItem = $(`
			<div class="comment-item">
				<p class="commenter-name">${validator.escape(jsonElement.name)}${verifiedAuthorTag}<small>${formatDate(jsonElement.timestamp)}</small></p>
				<div>
						<p>${validator.escape(jsonElement.comment).replace(new RegExp('\r?\n','g'), '<br />')}</p>
				</div>
				</div>
		`).hide();
		if (isPrepend) {
			$("#comment-container").prepend(newItem);
		} else {
			$("#comment-container").append(newItem);
		}
		newItem.fadeIn();
		visibleComments.push(element);

		{% comment %}
		/* Hide the 'no comments available' section since we have added a comment */
		{% endcomment %}
		$("#no-comments").hide();
		$("#num-comments-displayed").show();
	};

	{% comment %}
	/* Calls to the Google Sheets gviz API to load the comment data
	   Since we are storing comments for all of our blog articles in one sheet, we filter
	   by page URL. */
   {% endcomment %}
	function reloadComments() {
		{% comment %}
		/*
		Use SQL in the gviz URL to load the correct csv.
		In this implementation, columns are mapped to the following:
			A - timestamp, the time the comment was left
			B - page url, the page the comment was left on
			C - name, the text left in the comment name field
			D - comment, the text left in the comment field
			E - isAuthor, boolean indicating if the comment was left by the actual author
		*/
		{% endcomment %}
		var sqlStatement = encodeURIComponent(`SELECT A, C, D, E WHERE B = '${thisPageUrl}'`);
		fetch(`{{ site.comment-read }}/gviz/tq?tqx=out:csv&sheet=comments&tq=${sqlStatement}&headers=0`)
		.then(response => response.text())
		.then(response => displayComments(response));
	};

	{% comment %}
	/* encodes the form data for http transport */
	{% endcomment %}
	const encodeFormData = (data) => {
	    return Object.keys(data)
	        .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
	        .join('&');
	};

	{% comment %}
	/* Posts a comment */
	{% endcomment %}
	function postComment() {
		var username = $("#comment-name").val();
		var comment = $("#comment-comment").val();

		fetch(`{{ site.comment-post }}/formResponse`, {
		  method: 'POST',
		  mode: 'no-cors',
		  headers: {
		    "Content-Type": "application/x-www-form-urlencoded"
		  },
		  body: encodeFormData({
		  	"{{ site.comment-post-fields[0] }}" : thisPageUrl,
		  	"{{ site.comment-post-fields[1] }}" : username,
		  	"{{ site.comment-post-fields[2] }}" : comment
		  })
		}).then(response => {
			$("#comment-name").val('');
			$("#comment-comment").val('');
			reloadComments();
		})
		.catch(error => {console.log(error);});

		return false;
	};

	{% unless lazy_load_enabled %}
		initialCommentLoad();
	{% endunless %}
</script>
{% comment %}
<!--
	HTML for displaying the actual comment section.
	It has a state for oth when the article has comments and when it does not. -->
{% endcomment %}
<h4 class="post-subtitle">Comments</h4>
<div id="load-comments" class="comments">
	<button class="comment-button" onclick="initialCommentLoad()">Load Comments</button>
</div>
<div id="comments-and-input">
	<div id="comment-section" class="comments">
		<p id="num-comments-displayed"></p>
		<button id="load-more-comments" class="comment-button" onclick="loadMoreComments(true)" type="button">Load More Comments</button>
		<div id="no-comments" class="post-info">
			<p>There are currently no comments on this article, be the first to add one below</p>
		</div>
		<div id="comment-container"></div>
	</div>
	<h4 class="post-subtitle">Add a Comment</h4>
	<div class="comments">
		<div class="post-info">
			<p>Note that I may remove comments for any reason, so try to be civil. If you are looking for a response to your comment, either leave your email address or check back on this page periodically.</p>
		</div>	
		<div class="comments-form">
			<form onsubmit="return postComment()" id="comment-form" autocomplete="off">
				<ul>
					<li><input id="comment-name" name="username" type="text" placeholder="Name" required="" value=""></li>
					<li><textarea id="comment-comment" name="comment" placeholder="Comment" required=""></textarea></li>
					<li><input id="comment-submit" type="submit" value="Post" class="comment-button"></li>
				</ul>
			</form>
		</div>
	</div>
</div>
{% comment %}
<!-- 
	Styling information.
	This might typically be in an scss file but is added here so only a single
	file needs to be added to a project trying to implement this feature. -->
{% endcomment %}
<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
.comment-item {
	position: relative;
	padding: 0.5em 2.5em;
	background: white;
	font-family: "Source Sans Pro", sans-serif;
	width: 95%;
	margin: 1em auto;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.comment-item:after {
	content: "";
	position: relative;
	display: block;
	clear: both;
}

.comment-item p {
	line-height: 1.6;
}

.comment-item small {
	padding-left: 0.7em;
	color: #999;
	font-size: 0.8em;
}

.commenter-name {
	color: #367588;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
}

.commenter-name strong {
	color: #e91e63;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
}

.comments-form {
	margin-left: 1em;
	margin-right: 1em;
	width: 95%;
	font-family: "Source Sans Pro", sans-serif;
}

.comments-form ul {
	list-style: none;
	margin-left: -40px;
}

.comments-form ul li {
	margin-bottom: 15px;
}

.comments {
	align-items: center;
	border-top: 0.5px solid #e5e5e5;
	padding-top: 1rem;
	position: relative;
}

.comment-button {
	border: 0;
	border-radius: 8px;
	background: #9ccc65;
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-bottom: 20px;
	outline-style: none;
	padding: 10px 20px;
	width: auto;
	min-width: 25%;
}

#comment-submit {
	width: 25%;
}

#load-more-comments {
	width: auto;
}

#load-more-comments,
#num-comments-displayed {
	display: none;
}

#comment-name,
#comment-comment {
	width: 50%;
	padding: 10px;
	border: 0;
	border-radius: 8px;
	background: #f7f7f7;
	font-family: "Source Sans Pro", sans-serif;
}

#comment-name::-webkit-input-placeholder,
#comment-comment::-webkit-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}

#comment-name::-moz-placeholder,
#comment-comment::-moz-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}

#comment-name:-ms-input-placeholder,
#comment-comment:-ms-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}

#comment-name::-ms-input-placeholder,
#comment-comment::-ms-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}

#comment-name::placeholder,
#comment-comment::placeholder {
	font-family: "Source Sans Pro", sans-serif;
}

#comment-name:focus,
#comment-comment:focus {
	background: #fff;
	font-family: "Source Sans Pro", sans-serif;
}

#comment-comment {
	width: 100%;
	height: 80px;
	resize: vertical;
	min-height: 80px;
}

#comment-container {
	width: 100%;
}

#comment-section, #load-comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

{% if lazy_load_enabled %}
#comments-and-input {
	display: none;
}
{% else %}
#load-comments {
	display: none;
}
{% endif %}
</style>
{% endif %}